<div class="jumbotron text-center d-flex align-items-center background-winter my-0">
<div  class="container">
  <h1 class="display-4">{{heroHeading}}</h1>
  <p>{{heroText}}</p>
  <p ><a class="btn btn-outline-light btn-lg"  routerLink="/form" role="button">{{heroBtnText}}</a></p>
</div>
</div>

<div class="jumbotron text-center d-flex align-items-center background-blue my-0">
<div  class="container">
  <h2 class="display-6 p-4">{{heroSecondHeading}}</h2>
  <hr class="line mb-2">
  <div class="row d-flex py-4">
  	<div class="col-lg-3 col-md-3 col-sm-12">
  		<i class="fa fa-map-marker round"></i>
  		<p class="mt-4">{{accomodationHeading}}</p>
  		<p class="small">{{accomodationText}}</p>
  	</div>
  	<div class="col-lg-3 col-md-3 col-sm-12">
  		<i class="fa fa-phone round"></i>
  		<p class="mt-4">{{transpHeading}}</p>
  		<p class="small">{{transpText}}</p>
  	</div>
  	<div class="col-lg-3 col-md-3 col-sm-12">
  		<i class="fa fa-user round"></i>
  		<p class="mt-4">{{agentHeading}}</p>
  		<p class="small">{{agentText}}</p>
  	</div>
  	<div class="col-lg-3 col-md-3 col-sm-12">
  		<i class="fa fa-at round"></i>
  		<p class="mt-4">{{tripHeading}}</p>
  		<p class="small">{{tripText}}</p>
  	</div>
  </div>
</div>
</div>
