<form class="form-inline my-4">
  <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 50%;">
  <button class="btn btn-outline-dark" (click)="searchText=''">x</button>
</form>
<table class="table table-borderless">
  <thead>
    <th>First Name</th>
    <th>Email</th>
  </thead>
  <tbody>
  <ng-container *ngFor="let customer of customerArray">
    <tr class="background-blue" *ngIf="filterCondition(customer)">
      <td>{{customer.firstName}}</td>
      <td>{{customer.email}}</td>
      <td>
        <button class="btn btn-info" (click)="customerService.populateForm(customer)">Edit</button>
        <button class="btn btn-danger" (click)="onDelete(customer.$key)">Delete</button>
      </td>
    </tr>
  </ng-container>
</tbody>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>
