<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>First Name</label>
        <input formControlName="firstName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.firstName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">This field is required</div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input formControlName="lastName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.lasttName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.lastName.errors">This field is required</div>
      </div>
      <div class="form-group" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}">
        <label>Mobile</label>
        <input formControlName="mobile" class="form-control">
        <label *ngIf="formControls.mobile.errors.required">This field is required</label>
        <label *ngIf="formControls.mobile.errors.minlength">at least 8 numbers</label>
      </div>
      <div class="form-group" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
        <label>Email</label>
        <input formControlName="email" class="form-control">
        <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">invalid email address</div>
      </div>
      <div class="form-group" [ngClass]="{'is-invalid':submitted && formControls.address.errors}">
        <label>Address</label>
        <input formControlName="address" class="form-control">
        <div class="invalid-feedback" *ngIf="submitted && formControls.address.errors">This field is required</div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      submitted successfully.
    </div>
  </div>
  <div class="col-md-7">
    <app-customer-list></app-customer-list>
  </div>
</div>
